/* Color
-------------------------- */
/// color|1|Brand Color|0
// $--color-primary: #409EFF !default;
$--color-primary: #255BDA !default;
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;
/// color|1|Background Color|4
$--color-upgray: #F5F6F8 !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

/// color|1|Functional Color|1
$--color-success: #3EC26A !default;
/// color|1|Functional Color|1
$--color-warning: #F8B971 !default;
/// color|1|Functional Color|1
$--color-danger: #F65151 !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|1|Font Color|2
$--color-text-primary: #333333 !default;
/// color|1|Font Color|2
$--color-text-regular: #333333 !default;
/// color|1|Font Color|2
$--color-text-secondary: #909399 !default;
/// color|1|Font Color|2
$--color-text-placeholder: #999999 !default;
/// color|1|Font Color|2
$--color-text-close: #CFCFCF !default;
/// color|1|Border Color|3
$--border-color-base: #DCDCDC !default;
/// color|1|Border Color|3
$--border-color-light: #E4E7ED !default;
/// color|1|Border Color|3
$--border-color-lighter: #EBEEF5 !default;
/// color|1|Border Color|3
$--border-color-extra-light: #F2F6FC !default;
/// color|1|Border Color|3
$--border-color-grey-Design: #E5E5E5 !default;
/// color|1|Border Color|3
$--border-color-grey-leftMenu: #dddddd !default;
/// color|1|Border Color|3
$--border-color-grey-bottom: #E9E9E9 !default;
/// color|1|Border Color|3
$--border-color-grey-items:#D1D1D1 !default;


// Background
/// color|1|Background Color|4
$--background-color-base: #F5F5F5 !default;
/// color|1|Background Color|4
$--background-color-newsbackground: #D90000 !default;
/// color|1|Background Color|4
$--background-color-mainbackground: #F3F3F3 !default;
$--background-color-header:#ecf2fd !default;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-style-dashed: dashed !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-dashed: $--border-width-base $--border-style-dashed $--border-color-base !default;
/// borderRadius|1|Radius|0
$--border-radius-base: 3px !default;
/// borderRadius|1|Radius|0
$--border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$--border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$--border-radius-zero: 0 !default;

// Box-shadow
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

// container width
$--container-width: 1210px;
container {
  max-width: $--container-width;
  margin: 0 auto;
  box-sizing: border-box;
}
// gradient-color
$--color-gradient-light-1: #3BD0FB;
$--color-gradient-light-2: #799EFE;

@media screen and (max-width: $--container-width) {
  container{
    padding: 0 20px;
  }
}