.mainflowBox{
  display: flex;
  .flex-main{
    flex:1;
  }
 .main-fill{
    position:relative;
  } 
  .process-stepwrap {
    width: 80%;
    margin: 30px auto;
    .el-step.is-horizontal {
      position: relative;
      .el-step__main {
        position: absolute;
        background-color: #fff;
        left: 20px;
        top: -6px;
        padding: 0 20px;
        width: 80px;
      }
    }
  } 
}
