.zone-select{
  position: relative;
  font-size: 16px;
  border: $--border-base;
  background-color: $--background-color-base;
  margin: 0 10px;
  padding: 5px 28px;
  cursor: pointer;
  position: relative;
  max-width: 66px;
  min-width: 66px;
  overflow: hidden;
  .icon-loaction{
    color: $--color-primary;
    position: absolute;
    left: 8px;
    top: 8px;
  }
  .empty{
    color: $--color-text-placeholder;
  }
  .arrow-down{
    display: inline-block;
    border: 6px solid transparent;
    border-top-color: $--color-text-placeholder;
    position: absolute;
    right: 8px;
    top: 13px;
  }
}