.flex-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .flex-main{
      flex:1;
    }
    .flex-side{
      width: 180px;
      min-height: 300px;
    }
  }
  .stepwrap{
    width: 80%;
    margin: 30px auto;
  }
  
 