// .infodiv {
//   padding: 0 15px 0 20px;
//   .el-table th.gutter {
//     display: table-cell !important;
//   }
//   .el-table colgroup.gutter {
//     display: table-cell !important;
//   }
//   .tableDiv {
//     height: 260px;
//     display: block;
//     div {
//       text-align: right;
//       margin-bottom: 10px;
//     }
//   }
// }


.form-message-box{
  margin: 0 15px 0 20px;
  .info-head{
    position: relative;
    margin-top: 30px;
    .add {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  h3{
    height:19px;
    font-size:20px;
    // font-family:Microsoft YaHei;
    // font-weight:400;
    // color:rgba(51,51,51,1);
    // line-height:30px;
  }
  .info-body{
    border: 1px solid $--border-color-grey-leftMenu;
    border-bottom: none;
  }
}
.butBorder {border:1px solid $--color-primary; color:$--color-primary;}